<h1>Shengji</h1>
<div id='create-game' class='button'>
  Start a new game
</div>
<div id='games'>
  {{#each games}}
  <div id='{{name}}'>
    <div>
      <span class='title'>{{ name }}</span>
      {{#if password}}<i class='fas fa-lock fa-sm'></i>{{/if}}
    </div>
    <div>
      <span>{{mode}}&emsp;{{numDecks}} decks</span>
      <div class='users'>
        {{#each players}}
        <div>{{this}}</div>
        {{/each}}
        <div>({{players.length}}/{{maxPlayers}})</div>
      </div>
    </div>
      <div class='button-wrapper'>
        <div id='join-game' class='button'>Join</div>
      </div>
  </div>
  {{/each}}
</div>
