<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='/css/base.css' type='text/css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
  {{#each scripts}}
    <script src='{{ this }}'></script>
  {{/each}}
</head>
<body>
  <div id='header'>
    <div>
      <a href='/scoreboard'>Scoreboard</a> |
      <a href='/'>Games</a>
    </div>
    <div>
      {{#if loggedIn}}
        <a class='user' href='/users/{{ username }}'>{{ username }}</a> |
        <a href='/logout'>Logout</a>
      {{else}}
        <a href='/login'>Login</a> |
        <a href='/register'>Register</a>
      {{/if}}
    </div>
  </div>
  <div id='body'>
    {{{ body }}}
  </div>
</body>
</html>
