<h1>Scoreboard</h1>
<div id='scoreboard'>
  <h3>Round Wins</h3>
  <div id='round-wins'>
    <div>
      <i class='fas fa-trophy fa-2x gold'></i>
      <a href='/user/{{ rounds.[0].username }}'>{{ rounds.[0].username }}</a>
      <span>{{ rounds.[0].wins }}</span>
    </div>
    <div>
      <i class='fas fa-trophy fa-2x silver'></i>
      <a href='/user/{{ rounds.[1].username }}'>{{ rounds.[1].username }}</a>
      <span>{{ rounds.[1].wins }}</span>
    </div>
    <div>
      <i class='fas fa-trophy fa-2x bronze'></i>
      <a href='/user/{{ rounds.[2].username }}'>{{ rounds.[2].username }}</a>
      <span>{{ rounds.[2].wins }}</span>
    </div>
  </div>
  <h3>Game Wins</h3>
  <div id='game-wins'>
    <div>
      <i class='fas fa-trophy fa-2x gold'></i>
      <a href='/user/{{ games.[0].username }}'>{{ games.[0].username }}</a>
      <span>{{ games.[0].wins }}</span>
    </div>
    <div>
      <i class='fas fa-trophy fa-2x silver'></i>
      <a href='/user/{{ games.[1].username }}'>{{ games.[1].username }}</a>
      <span>{{ games.[1].wins }}</span>
    </div>
    <div>
      <i class='fas fa-trophy fa-2x bronze'></i>
      <a href='/user/{{ games.[2].username }}'>{{ games.[2].username }}</a>
      <span>{{ games.[2].wins }}</span>
    </div>
  </div>
</div>
